In [341]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import xlrd
warnings.filterwarnings('ignore')

# Further Pre Processing - Standardize Currency - Medium - Country

In [342]:
#import clean data
df = pd.read_csv('cleaned_data.csv')
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,height,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,33.66,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,13.58,64150.0,1.0,38490.0,watercolor and ink / paper,NaN,1.0,0.0,Conversations in the Mountain,10.43
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,NaN,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,40.94,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,39.53,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82

## Standardize Currency

In [343]:
#how many unique currencies are there?
df['currency'].nunique()

28

In [344]:
#What are the most common
df['currency'].value_counts().head(10)

USD    28958
GBP    14062
EUR     4560
HKD     3045
CHF      322
SEK      199
CNY      167
AUD      139
CAD      119
NOK       64
Name: currency, dtype: int64

In [345]:
# Are there any rows with null currency values?
df[df['currency'].isnull()]

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,height,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width
12279,Adolph Gottlieb,05/13/2008,Christies,The United States: New York Rockefeller Center,22,NaN,United States of America,NaN,NaN,0.0,...,90.00,NaN,0.0,NaN,Oil on canvas,6537000,1.0,0.0,Cool Blast,70.00
12295,Adolph Gottlieb,05/14/2008,Christies,The United States: New York Rockefeller Center,146,NaN,United States of America,1946-01-01 00:00:00,NaN,1.0,...,25.47,NaN,0.0,NaN,Gouache watercolor and graphite on paper,145000,1.0,0.0,Mood Indigo,19.49
12324,Adolph Gottlieb,05/22/2007,Bonhams & Butterfields,The United States: California San Francisco,60,NaN,United States of America,1949-01-01 00:00:00,NaN,1.0,...,25.51,NaN,0.0,NaN,Gouache on paper,70000,1.0,0.0,Untitled,19.25
12341,Adriaen Coorte,03/28/2014,Hampel Fine Art Auctioneers,Germany: Munich,1097,NaN,NaN,NaN,NaN,0.0,...,5.63,NaN,0.0,NaN,Oil on paper,145000,1.0,0.0,STILL LIFE WITH SEA SHELLS ON A STONE PLATE,8.07
12354,Adriana Varejão,09/22/2011,Bolsa De Arte,Brasil: Rio de Janeiro,44,NaN,Brazil,2001-01-01 00:00:00,NaN,1.0,...,39.37,NaN,0.0,NaN,Oil on canvas,1011236,1.0,0.0,Macau Wall #5,39.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53835,Zhu (ju Ming) Ming,05/25/2008,Christies,China: Hong Kong,311,NaN,Taiwan,1994-01-01 00:00:00,NaN,1.0,...,24.02,NaN,0.0,NaN,Bronze sculpture,907500,1.0,0.0,Taiji Series - Push Hand,12.99
53838,Zhu (ju Ming) Ming,05/25/2008,Christies,China: Hong Kong,278,NaN,Taiwan,1991-01-01 00:00:00,NaN,1.0,...,11.02,NaN,0.0,NaN,Wood sculpture,1327500,1.0,0.0,Taiji Series - Single Whip,15.75
53842,Zhu (ju Ming) Ming,05/25/2008,Christies,China: Hong Kong,313,NaN,Taiwan,1991-01-01 00:00:00,NaN,1.0,...,12.60,NaN,1.0,NaN,Sculpture,1927500,1.0,0.0,Taiji Series - Single Whip,23.62
53847,Zhu (ju Ming) Ming,05/25/2008,Christies,China: Hong Kong,281,NaN,Taiwan,1995-01-01 00:00:00,NaN,1.0,...,27.56,NaN,0.0,NaN,Sculpture wood,3007500,1.0,0.0,Taiji Series - Single Whip,27.56
53849,Zhu (ju Ming) Ming,05/25/2008,Christies,China: Hong Kong,279,NaN,Taiwan,NaN,NaN,0.0,...,55.00,NaN,0.0,NaN,Wood sculpture,4207500,0.0,0.0,Taiji Series - Single Whip,25.98

In [346]:
# First, let's see what the most common auction locations are for rows with null currency values
df[df['currency'].isnull()].auction_location.value_counts().head(10)

 Bern                                              363
 The United States: New York Rockefeller Center    338
 United Kingdom: London New Bond Street            219
 Germany: Munich                                   208
 China: Hong Kong                                  134
 France: Paris                                      69
 Germany: Hamburg                                   57
 Germany: Cologne                                   50
 United Kingdom: London King Street                 50
 Hong Kong                                          44
Name: auction_location, dtype: int64

In [347]:
# Lets create a temporary column with the auction location country
df['auction_location_country'] = df['auction_location'].str.split(':').str[0]
#Clean any spaces
df['auction_location_country'] = df['auction_location_country'].str.strip()

# See how it looks
df[df['currency'].isnull()].auction_location_country.value_counts().head(10)

The United States           500
Germany                     364
Bern                        363
United Kingdom              321
China                       135
France                       88
United States of America     50
Hong Kong                    46
Ireland                      35
Italy                        25
Name: auction_location_country, dtype: int64

In [348]:
# See how this package works
import pycountry

country = pycountry.countries.get(name='Norway')
currency = pycountry.currencies.get(numeric=country.numeric)

currency.alpha_3

'NOK'

In [349]:
# Iterate through all the rows with null currency
for index, row in df[df['currency'].isnull()].iterrows():
    # Get the country name from the auction_location column
    auction_location_country = row['auction_location_country']

    # Try getting the country object from the pycountry package, if error, skip
    try:
        country = pycountry.countries.get(name=auction_location_country)
        # Get the currency object from the pycountry package
        currency = pycountry.currencies.get(numeric=country.numeric)
        # Set the currency column to the alpha_3 code of the currency object
        df.loc[index, 'currency'] = currency.alpha_3
    except:
        pass

# Check that we have no more null currency values
df[df['currency'].isnull()]

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,auction_location_country
12279,Adolph Gottlieb,05/13/2008,Christies,The United States: New York Rockefeller Center,22,NaN,United States of America,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on canvas,6537000,1.0,0.0,Cool Blast,70.00,The United States
12295,Adolph Gottlieb,05/14/2008,Christies,The United States: New York Rockefeller Center,146,NaN,United States of America,1946-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Gouache watercolor and graphite on paper,145000,1.0,0.0,Mood Indigo,19.49,The United States
12324,Adolph Gottlieb,05/22/2007,Bonhams & Butterfields,The United States: California San Francisco,60,NaN,United States of America,1949-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Gouache on paper,70000,1.0,0.0,Untitled,19.25,The United States
12341,Adriaen Coorte,03/28/2014,Hampel Fine Art Auctioneers,Germany: Munich,1097,NaN,NaN,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on paper,145000,1.0,0.0,STILL LIFE WITH SEA SHELLS ON A STONE PLATE,8.07,Germany
12354,Adriana Varejão,09/22/2011,Bolsa De Arte,Brasil: Rio de Janeiro,44,NaN,Brazil,2001-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,1011236,1.0,0.0,Macau Wall #5,39.37,Brasil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52845,Zhang Daqian,12/11/2010,Lempertz,Germany: Cologne,72,NaN,China,1944-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Ink on paper,204000,1.0,0.0,Drei Gelehrte beim Brettspiel an einem bizarre...,21.77,Germany
53332,Zhang Xiaogang,11/20/2006,Bonhams & Butterfields,The United States: California San Francisco,6148,NaN,China,2005-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,180000,1.0,0.0,Amnesia and Memory,20.00,The United States
53339,Zhang Xiaogang,11/20/2006,Bonhams & Butterfields,The United States: California San Francisco,6147,NaN,China,2001-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,150000,1.0,0.0,Baby No. 19,15.75,The United States
53410,Zhang Xiaogang,05/14/2008,Christies,The United States: New York Rockefeller Center,329,NaN,China,2000-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,993000,1.0,0.0,Bloodline Series (Two Comrades),39.25,The United States
53646,Zhu (ju Ming) Ming,11/20/2006,Bonhams & Butterfields,The United States: California San Francisco,6163,NaN,Taiwan,1990-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Wood sculpture,115000,1.0,0.0,Buffalo dragging the wood,15.75,The United States

In [350]:
# That didn't help much, only 500 rows were recovred, let's just create a manual dictionary for the rest
currency_dict = {
    'The United States': 'USD',
    'Germany': 'EUR',
    'Bern': 'CHF',
    'France': 'EUR',
    'United States of America': 'USD',
    'Ireland': 'EUR',
    'Italy': 'EUR',
    'Czech Republic': 'EUR',
    'Belgium': 'EUR',
    'Italia': 'EUR',
    'Brasil': 'BRL',
    'Spain': 'EUR',
    'Finland': 'EUR',
    'Lefèvre': 'EUR',
    'Austria': 'EUR',
    'Netherlands': 'EUR',
    'The Netherlands': 'EUR',
}

# Iterate through all the rows with null currency
for index, row in df[df['currency'].isnull()].iterrows():
    # Get the country name from the auction_location column
    auction_location_country = row['auction_location_country']

    # If the country is in the dictionary, set the currency column to the value
    if auction_location_country in currency_dict:
        df.loc[index, 'currency'] = currency_dict[auction_location_country]

# Check that we have no more null currency values
df[df['currency'].isnull()]

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,auction_location_country
17721,Bernard Buffet,12/06/2006,Poette,Castor,76,NaN,France,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on canvas,145000,1.0,0.0,New York-Subway,39.37,Castor
17948,Brett Whiteley,07/31/2006,Lawson,Menzies,343,NaN,Australia,1964-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Painting,204000,0.0,0.0,Cheetah in Rillington Place,72.05,Menzies
17998,Brett Whiteley,11/27/2013,Deutscher,Menzies,19,NaN,Australia,1973-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on plywood,228000,1.0,0.0,TO REPEAT WITHOUT REPEATING,34.65,Menzies
30335,Ivan Konstantinovich Aivazovsky,04/13/2005,Chochon,Barré & Allardi,36,NaN,Russia,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on canvas mounted on carton,80000,0.0,0.0,Temple en Grèce,10.24,Barré & Allardi
31158,Jean Baptiste Greuze,11/17/2004,Delorme,Collin du Bocage,78,NaN,France,1759-01-01 00:00:00,NaN,1.0,...,NaN,1.0,NaN,Oil on canvas,80000,1.0,0.0,"Portrait de César Gabriel, Duc de Choiseul Pra...",28.54,Collin du Bocage
34522,Jusepe De Ribera,12/04/2008,Kahn,Dumousset,210,NaN,Spain,NaN,NaN,0.0,...,NaN,0.0,NaN,"Pen brown washed, on handmade",105000,0.0,0.0,Die letzte Fahrt,6.69,Dumousset
35462,Konstantin Egorovich Makovsky,05/19/2005,Gelos Antiques and Auction House,Russia: Moscow,35,NaN,Russia,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on canvas,700000,0.0,0.0,The Ceremony of Kissing,84.45,Russia
36600,Lucas Cranach I,09/04/2008,Auktionshaus,Weidler,410,NaN,Germany,NaN,NaN,0.0,...,NaN,0.0,NaN,Tempera,112000,0.0,0.0,Apoll und Diana in Landschaft,20.08,Weidler
37412,Lyonel Charles Feininger,05/06/2005,Peter Kiefer • Buch,und Kunstauktionen,4962,NaN,United States of America,1946-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,150000,1.0,0.0,"Yacht race - ""Racing Skerry Cruisers""",25.00,und Kunstauktionen
38097,Marc Chagall,12/14/2012,Hôtel des Ventes de Monte,Carlo,36,NaN,France,NaN,NaN,0.0,...,NaN,0.0,NaN,Ink,270000,0.0,0.0,L&#146;écuyère au double profil,19.69,Carlo
48435,Samuel John Peploe,12/06/2008,Shapes Auctioneers,Scotland: Edinburgh,797,NaN,Scotland,NaN,NaN,0.0,...,NaN,0.0,NaN,Oil on panel,70000,1.0,0.0,Ile de Bréhart,16.14,Scotland
50326,Wang Guangyi,12/06/2009,Ravenel Art Group,Taiwan: Taipei,157,NaN,China,2002-01-01 00:00:00,NaN,1.0,...,NaN,0.0,NaN,Oil on canvas,156716,1.0,0.0,Great Criticism Series - Channel V,59.06,Taiwan

In [351]:
# Okay, we went down to 12 rows with null currency values, let's just drop them
df = df.dropna(subset=['currency'])

#Drop the temporary column
df = df.drop('auction_location_country', axis=1)

# Check that we have no more null currency values
df[df['currency'].isnull()]

Empty DataFrame
Columns: [artist, auction_date, auction_house, auction_location, auction_lot, category, country, created, currency, dated, edition, foundry, height, high_estimate, inscribed, low_estimate, medium, sales_price, signed, stamped, title, width]
Index: []

[0 rows x 22 columns]

In [352]:
#Try out converter package
from currency_converter import CurrencyConverter
c = CurrencyConverter(fallback_on_missing_rate=True, fallback_on_wrong_date=True)
c.convert(100, 'EUR', 'USD')

97.06

In [353]:
#Will have to convert based on the date of the auction
from datetime import date
c.convert(100, 'EUR', 'USD', date=date(2000, 1, 28))

98.48

In [354]:

# Clean the cells
df['sales_price'] = df['sales_price'].str.replace('[a-zA-Z]', '')
df['sales_price'] = df['sales_price'].str.replace(',', '')
df['sales_price'] = df['sales_price'].str.replace('$', '')
df['sales_price'] = df['sales_price'].str.replace(' ', '')
df['sales_price'] = df['sales_price'].str.replace('[', '')
df['sales_price'] = df['sales_price'].str.replace(']', '')

# If the cell is empty, fill it with 0
df['sales_price'] = df['sales_price'].fillna(0)
df['sales_price'] = df['sales_price'].replace('', 0)

# Convert to float
df['sales_price'] = df['sales_price'].astype(float)

In [355]:
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,height,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,33.66,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,13.58,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,NaN,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,40.94,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,39.53,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82

In [356]:
# add an column of nan called 'sales_price_usd'
df['sales_price_usd'] = np.nan
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,NaN
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,NaN
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,NaN
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,NaN
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,NaN

In [357]:
# Apparently GRD, ESP, TWD, YUM, UAH are not supported by the currency converter package
# How many rows have these currencies?
df[df['currency'].isin(['GRD', 'ESP', 'TWD', 'YUM', 'UAH', 'VEB', 'AED'])]

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
13460,Albrecht Dürer,12/02/2008,Christies,United Kingdom: London King Street,20,NaN,Germany,NaN,GRD,0.0,...,80000.0,0.0,60000.0,Engraving,145250.0,0.0,0.0,"Adam and Eve (B., M., Holl. 1; S.M.S. 39)",7.56,NaN
13492,Albrecht Dürer,12/02/2008,Christies,United Kingdom: London King Street,21,NaN,Germany,NaN,GRD,0.0,...,50000.0,0.0,30000.0,Engraving,82850.0,0.0,0.0,"Saint Jerome in his Study (B. 60; M., Holl. 59...",7.36,NaN
14498,André Derain,05/20/2011,Christies,France: Paris,53,NaN,France,1904-01-01 00:00:00,ESP,1.0,...,70000.0,0.0,50000.0,Oil on paper,85000.0,1.0,0.0,Nature morte au pot bleu,13.11,NaN
15091,Andy Warhol,04/30/2008,Christies,United Arab Emirates: Dubai,133,NaN,United States of America,1977-01-01 00:00:00,AED,1.0,...,NaN,0.0,NaN,Screenprint on Curtis Rag paper,121000.0,1.0,0.0,Farah Dibah Pahlavi,45.00,NaN
15665,Andy Warhol,04/30/2008,Christies,United Arab Emirates: Dubai,134,NaN,United States of America,1978-01-01 00:00:00,AED,1.0,...,NaN,0.0,NaN,Screenprint on Curtis Rag paper,157000.0,1.0,0.0,Mohammed Reza Shah Pahlavi (Shah of Iran),34.84,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53773,Zhu (ju Ming) Ming,06/01/2014,Ravenel Art Group,Taiwan: Taipei,199,NaN,Taiwan,1982-01-01 00:00:00,TWD,1.0,...,4000000.0,0.0,2800000.0,Sculpture on wood,0.0,0.0,0.0,Taichi Series – Underarm Strike,5.91,NaN
53775,Zhu (ju Ming) Ming,06/01/2014,Ravenel Art Group,Taiwan: Taipei,201,NaN,Taiwan,1991-01-01 00:00:00,TWD,1.0,...,4000000.0,0.0,2800000.0,Bronze,0.0,0.0,0.0,Taichi Series,12.20,NaN
53784,Zhu (ju Ming) Ming,12/05/2010,Ravenel Art Group,Taiwan: Taipei,156,NaN,Taiwan,1992-01-01 00:00:00,TWD,1.0,...,6000000.0,0.0,4800000.0,Sculpture,0.0,0.0,0.0,Taichi Series,14.57,NaN
53798,Zhu (ju Ming) Ming,06/05/2011,Ravenel Art Group,Taiwan: Taipei,149,NaN,Taiwan,1992-01-01 00:00:00,TWD,1.0,...,8000000.0,0.0,6000000.0,Sculpture on wood,0.0,0.0,0.0,Taichi Series,12.60,NaN
53807,Zhu (ju Ming) Ming,12/04/2011,Ravenel Art Group,Taiwan: Taipei,200,NaN,Taiwan,1995-01-01 00:00:00,TWD,1.0,...,4500000.0,0.0,3500000.0,Bronze,0.0,0.0,0.0,Taichi Series,35.43,NaN

In [358]:
#81 Total, not so bad but let's keep it in mind
# Drop these rows
df = df[~df['currency'].isin(['GRD', 'ESP', 'TWD', 'YUM', 'UAH', 'VEB', 'AED'])]

In [359]:
#loop through the rows and convert the sales price to usd using an aribitrairy date -> today's
for index, row in df.iterrows():
    if row['currency'] != 'USD':     #only if the currency is NOT USD already
        df.loc[index, 'sales_price_usd'] = c.convert(row['sales_price'], row['currency'], 'USD', date=date(2022, 10, 7))
    else:
        df.loc[index, 'sales_price_usd'] = row['sales_price']

#check the new column
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,45900.0
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,0.0
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,22950.0
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,433330.0
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,12240.0

In [360]:
# Now let's try to convert using the date of the auction

# First we need to convert the auction date column to datetime

#Some issues
#Looks like some rows have a range of dates for when the auction was held: Like 04/01/2020-04/16/2020

#Lets see which ones have this problem
df[df['auction_date'].str.contains('-')]

# Change the date for all these rows, keep only the first day of the range
df['auction_date'] = df['auction_date'].str.split('-').str[0]
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,45900.0
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,0.0
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,22950.0
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,433330.0
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,12240.0

In [361]:
# Now convert to datetime
df['auction_date'] = pd.to_datetime(df['auction_date'])

In [362]:
#loop through the rows and convert the sales price to usd using the date of the auction

c = CurrencyConverter(fallback_on_missing_rate=True, fallback_on_wrong_date=True)
for index, row in df.iterrows():
    if row['currency'] != 'USD':     #only the currency is NOT USD already
        df.loc[index, 'sales_price_usd'] = c.convert(row['sales_price'], row['currency'], 'USD', date=row['auction_date'])
    else:
        df.loc[index, 'sales_price_usd'] = row['sales_price']

#There were some errors here, mainly because:
# 1) the currency converter package doesn't have the currency for that specific date
# 2) the currency converter package doesn't have the currency for that year, sometimes it only has it for the last 10 years

# This was solved by using the fallback_on_missing_rate and fallback_on_wrong_date parameters
# What these do is that they will do linear interpolation when possible, and use the closest known rate otherwise
# I guess that's good enough

#check the new column
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
0,Binhong Huang,2017-05-30,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,45900.0
1,Binhong Huang,2017-05-30,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,0.0
2,Yun Tang,2017-05-30,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,22950.0
3,Binhong Huang,2017-05-30,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,433330.0
4,Yun Tang,2017-05-30,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,12240.0

In [363]:
# Now we should do the same for the low_estimate and high_estimate columns

# How many rows have null values in the estimate columns?
df['low_estimate'].isnull().sum()
df['high_estimate'].isnull().sum()

2084

In [364]:
# Drop the rows with null values in the estimate columns
df = df.dropna(subset=['low_estimate'])
df = df.dropna(subset=['high_estimate'])

In [365]:
# Create empty columns for the low and high estimates in USD
df['low_estimate_usd'] = np.nan
df['high_estimate_usd'] = np.nan

In [366]:
# Now let's try to convert using the date of the auction

#loop through the rows and convert the low_estimate to usd using the date of the auction
for index, row in df.iterrows():
    if row['currency'] != 'USD':     #only the currency is NOT USD already
        df.loc[index, 'low_estimate_usd'] = c.convert(row['low_estimate'], row['currency'], 'USD', date=row['auction_date'])
    else:
        df.loc[index, 'low_estimate_usd'] = row['low_estimate']

#loop through the rows and convert the high_estimate to usd using the date of the auction
for index, row in df.iterrows():
    if row['currency'] != 'USD':     #only the currency is NOT USD already
        df.loc[index, 'high_estimate_usd'] = c.convert(row['high_estimate'], row['currency'], 'USD', date=row['auction_date'])
    else: 
        df.loc[index, 'high_estimate_usd'] = row['high_estimate']


#check the new column
df.head()

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd,low_estimate_usd,high_estimate_usd
0,Binhong Huang,2017-05-30,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,45900.0,38490.0,64150.0
1,Binhong Huang,2017-05-30,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,0.0,38490.0,64150.0
2,Yun Tang,2017-05-30,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,22950.0,15400.0,23090.0
3,Binhong Huang,2017-05-30,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,433330.0,320750.0,449050.0
4,Yun Tang,2017-05-30,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,12240.0,10260.0,12830.0

In [367]:
# Export this new dataframe to a csv file to explore other stuff
df.to_csv('cleaned_data_with_usd.csv', index=False)

# Standardize Medium

In [160]:
# Let's see how many there are
df['medium'].nunique()

8368

In [161]:
# Let's explore the medium column
df.groupby('medium').count()

# There are a lot of different mediums, are we going to try to classify them all?
# NLP? 
# Keep key words only? How many categories?

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,height,high_estimate,inscribed,low_estimate,sales_price,signed,stamped,title,width,sales_price_usd
medium,,,,,,,,,,,,,,,,,,,,,
",gold leaf, collage and canvas / board",1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"132 drawn paper receipts of variable size pinned to acrylic on panel, diptych / canvas",1,1,1,1,1,1,0,1,1,0,...,0,1,0,1,1,0,0,1,0,1
18-carat yellow gold with multi-colored enamel brooch/pendant,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
23 carat repousse-cisele gold,2,2,2,2,2,2,0,2,2,2,...,2,2,2,2,2,2,2,2,2,2
23 carat repoussé-ciselé gold,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wooden frames and cotton strings,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
wooden stool,1,1,1,1,1,1,0,1,1,0,...,1,1,0,1,1,0,0,1,1,1
woodwith original box and wooden certificate of authenticity,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
woven canvas,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
zinc alloys,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# Country

In [170]:
# How many cells without country?
df[df['country'].isnull()]

,artist,auction_date,auction_house,auction_location,auction_lot,category,country,created,currency,dated,...,high_estimate,inscribed,low_estimate,medium,sales_price,signed,stamped,title,width,sales_price_usd
0,Binhong Huang,05/30/2017,Christies,Hong Kong,1364,paper,NaN,1947-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,45900.0,1.0,0.0,Misty Landscape,16.93,45900.0
1,Binhong Huang,05/30/2017,Christies,Hong Kong,1365,paper,NaN,1990-01-01 00:00:00,USD,0.0,...,64150.0,1.0,38490.0,watercolor and ink / paper,0.0,1.0,0.0,Conversations in the Mountain,10.43,0.0
2,Yun Tang,05/30/2017,Christies,Hong Kong,1366,paper,NaN,NaN,USD,0.0,...,23090.0,1.0,15400.0,watercolor and ink / paper,22950.0,1.0,0.0,Peony and Insects / Peony and Butterfly (2),NaN,22950.0
3,Binhong Huang,05/30/2017,Christies,Hong Kong,1367,paper,NaN,NaN,USD,0.0,...,449050.0,1.0,320750.0,watercolor and ink / paper,433330.0,1.0,0.0,Retreat in the Mountains,15.55,433330.0
4,Yun Tang,05/30/2017,Christies,Hong Kong,1368,paper,NaN,1940-01-01 00:00:00,USD,0.0,...,12830.0,1.0,10260.0,watercolor and ink / paper,12240.0,1.0,0.0,Villagers in the Woods,18.82,12240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51044,Willem Van Tetrode (attribued To),01/30/2014,Sothebys,The United States: New York,116,NaN,NaN,NaN,USD,0.0,...,1200000.0,0.0,800000.0,Bronze,0.0,0.0,0.0,SAMSON SLAYING THE PHILISTINE,0.00,0.0
51257,William Scrots (school),07/04/2012,Sothebys,United Kingdom: London,10,NaN,NaN,NaN,GBP,0.0,...,700000.0,0.0,500000.0,Oil on panel,0.0,0.0,0.0,PORTRAIT OF EDWARD VI (1537-1553),27.95,0.0
53522,Zhou Chen,11/26/2012,Christies,China: Hong Kong,818,NaN,NaN,NaN,HKD,0.0,...,400000.0,0.0,300000.0,Ink on paper,0.0,0.0,0.0,Fishing in a Quiet Lake,21.65,0.0
53523,Zhou Chen,11/28/2011,Christies,China: Hong Kong,1702,NaN,NaN,NaN,HKD,0.0,...,300000.0,0.0,200000.0,Ink on paper,0.0,0.0,0.0,Pavilions by the River,18.74,0.0
53524,Zhou Chen,05/27/2013,Christies,China: Hong Kong,741,NaN,NaN,NaN,HKD,0.0,...,10000000.0,0.0,8000000.0,Ink on silk,0.0,1.0,0.0,River Scenery,804.33,0.0

In [275]:
# So, 12920 rows without country, how many artists?
df[df['country'].isnull()].groupby('artist').size().sort_values(ascending=False)

# 1928 artists, hopefully only a few of them make up most of the rows

artist
Ru Pu                       248
Daqian Zhang                245
Yayoi Kusama                245
Wou-Ki Zao                  210
Le Pho                      209
                           ...
Luo Erchun                    1
Luo Quanmu                    1
Luo Song                      1
Luo Wang                      1
ou & Zhu Haonian & Mulan      1
Length: 1928, dtype: int64

In [281]:
# How to recover the country?
# Maybe we can use the artist's name and search for it on wikipedia?

# Let's try wikipedia and one artist only for now
import wikipedia
wikipedia.set_lang("en")
wikipedia.search("Yayoi Kusama")
# Okay she can be found on wikipedia

page = wikipedia.page("Yayoi Kusama")
page.content[:1000] # print the first 1000 characters

'Yayoi Kusama (草間 彌生, Kusama Yayoi, born 22 March 1929) is a Japanese contemporary artist who works primarily in sculpture and installation, but is also active in painting, performance, video art, fashion, poetry, fiction, and other arts. Her work is based in conceptual art and shows some attributes of feminism, minimalism, surrealism, Art Brut, pop art, and abstract expressionism, and is infused with autobiographical, psychological, and sexual content. She has been acknowledged as one of the most important living artists to come out of Japan.Kusama was raised in Matsumoto, and trained at the Kyoto City University of Arts in a traditional Japanese painting style called nihonga. Kusama was inspired, however, by American Abstract impressionism. She moved to New York City in 1958 and was a part of the New York avant-garde scene throughout the 1960s, especially in the pop-art movement. Embracing the rise of the hippie counterculture of the late 1960s, she came to public attention when she o'

In [282]:
#How to extract the country from the page content?
#Let's try to find the word 'nationality' and then get the next word
page.content.find('born in')

## uffff man this looks like a lot of work, let's try to find a better way

-1